---
# tasks file for conky

 - name: Install conky
   become: true
   apt:
     name: conky-all
     state: latest

 - name :  Test bash
   shell: ifconfig | grep -B1 192 | awk {'print $1'} | head -n 1
   ignore_errors: True
   register: network_interface

 - name :  Test bash #1
   debug:
     var: network_interface.stdout

 - name: Update network interface
   replace:
     path: "/tmp/dev-machine-bootstrapper/apps-conf-files/conky/conkyrc_sample"
     regexp: 'Z_NETWORK_INTERFACE'
     replace: "{{ network_interface.stdout }}"

 - name: Apply conky configuration
   copy:
     src: /tmp/dev-machine-bootstrapper/apps-conf-files/conky/
     dest: /home/{{ ansible_env.USER }}/.conky

 - name: Apply +x permissions to conky startup script
   file:
     path: "/home/{{ ansible_env.USER }}/.conky/conky-startup.sh"
     owner: "{{ ansible_env.USER }}"
     group: "{{ ansible_env.USER }}"
     mode: "u=rwx,g=r,o=r"

 - name: Add Conky to startup
   become: true
   copy:
     src: /tmp/dev-machine-bootstrapper/apps-conf-files/conky/Conky.desktop
     dest: /home/{{ ansible_env.USER }}/.config/autostart/Conky.desktop